/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* label class */
.label {
    display: inline-block;
    width: 70px;
}

.label1 {
    display: inline-block;
    width: 50px;
}
/* body tag */
body {
    font-family: 'Poppins', sans-serif;
}
/* h1 tag */
h1 {
    font-size: 48px;
    font-weight: 600;
}
/* h2 tag */
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
}
/* image */
.money-img {
    height: 815px;
    width: 705px;
}
.minus {
    display: none;
}